*.csv
*.out
*.txt
!NFC_data.txt
*.RData
*.inp
*.pdf
!input_uncorr_base.inp
!input_corr_base.inp
!input_uncorr_MLR_base.inp
!input_corr_MLR_base.inp
!input_mi_gender_base.inp
!input_mi_edu_base.inp
!input_nfc_k_1.inp
!input_nfc_k_2.inp
!input_nfc_k_3.inp
